<h1 id="topheading">Welcome To Flash Quiz!</h1>

<br>
<section id="quiz">
  <button id="startquiz">Start A Quiz?</button>
</section>

<br>
<br>

<section id="flash-cards-menu">
  <h3>Flash Cards</h3>
  <%= link_to 'See Flash Cards', flash_cards_path %>
  <br>
  <%= link_to 'Add Flash Cards', new_flash_card_path %>
</section>
